.sidebar-menu{
    width: 190px;
    background-color: #191f4e;
    z-index:2;
    padding-top: 24px;
    border: none;
    box-shadow: 0 0 5px #ddd;
   .el-tabs__nav{
     border: none !important;
   }
   .el-tabs__header.is-left {
    width: 100%;
   }
   .el-tabs__item {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    box-shadow: 0 0px 1px #ddd;
    border: none !important;
    padding: 0 30px;
   }
   .el-tabs__item.is-left.is-active{
     background: #fff;
     color: #191f4e;
   }
}

.el-popover{
  border: 1px solid #ddd;
  .info-title {
    color: #0c1243;
    margin-right: 5px;
  }
}